# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Dependency directories
.pnpm/

# IDE files
.vscode/
.DS_Store

# Build files
dist/
build/