@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Avenir Book */
@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir/Avenir-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Import Montserrat Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Import Montserrat Medium */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}